/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
.mobile-nav-toggle {
  color: var(--nav-color);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9999;
}

.mobile-nav-toggle i {
  font-size: 24px;
  color: var(--nav-color);
}

body.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
}

body.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

body.mobile-nav-active .navmenu {
  right: 0;
}

@media (max-width: 1199px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navmenu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 300px;
    background: var(--nav-mobile-background-color);
    transition: right 0.3s ease;
    z-index: 9998;
    padding-top: 60px;
  }

  .navmenu ul {
    display: block;
    position: static;
    padding: 0 20px;
  }

  .navmenu a,
  .navmenu a:focus {
    padding: 10px 15px;
    font-size: 16px;
  }

  .navmenu .dropdown ul,
  .navmenu .dropdown .dropdown ul {
    position: static;
    display: none;
    margin: 10px 0;
    padding: 10px 15px;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    background-color: transparent;
  }

  .navmenu .dropdown>.dropdown-active,
  .navmenu .dropdown .dropdown>.dropdown-active {
    display: block;
  }
}
